{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Найчастіші запитання</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-fluid p-5">
    <div class="d-flex justify-content-center">
        <h3>Найчастіші запитання</h3>
    </div>
    <div>
        <b>Чи можете ви допомогти мені з вибором правильного продукту?</b>
        <p>Ми завжди раді допомогти вам у виборі необхідних добавок, продуктів та аксесуарів, які представлені на нашому сайті. Вам буде достатньо звернутися до нашої служби підтримки за телефоном 0800232323, Telegram +38-099-777-77-77 або написати нам на пошту info@sportmania.ua. Ми завжди раді відповісти на будь-які ваші запитання. </p>

        <b>Як я можу отримати інформацію про наявність продуктів, які цікавлять мене?</b>
        <p>Ви можете дізнатися про наявність продукту на на сайті, якщо його немає в наявності, там же ви можете знайти найближчу дату доставки, якщо ви не знайшли цікаву для вас інформацію на сайті - ви можете дізнатися цю інформацію у служби підтримки за допомогою email: info@sportmania.ua або за телефоном 0800232323, Telegram +38-099-777-77-77.</p>

        <b>Як я можу скасувати або змінити замовлення?</b>
        <p>Зміни в замовлення можливо внести тільки через службу підтримки клієнтів, тому, якщо ви хочете змінити продукти у вашому замовленні, будь ласка, напишіть нам на пошту info@sportmania.ua або зв'яжіться з нами за телефоном 0800216969, Viber +38-099-777-77-77, Telegram +38-099-777-77-77. Таким же чином ми можете скасувати ваше замовлення. Якщо замовлення вже було відправлено зі складу, ми не можемо скасувати або змінити його. У випадку, якщо ви хотіли б повернути або поміняти якийсь із товарів, зв'яжіться будь-ласка з нашою службою підтримки.</p>

        <b>Коли я зможу отримати замовлення?</b>
        <p>Замовлення відправляються протягом 48 годин після оформлення замовлення при виборі способу оплати післяплати і з моменту підтвердження оплати банком при виборі способу оплати переказом на картку.<p>
        
        <b>Ви надсилаєте замовлення у вихідні?</b>
        <p>Замовлення надсилаються відповідно до часу роботи компанії Нова Пошта.</p>
                            
        <b>Мені прийшла пошкоджена посилка. Що мені потрібно зробити?</b>
        <p>У випадку, якщо вам надійшла пошкоджена посилка, ми радимо вам не забирати її у відділенні та подати скаргу на доставку у відділенні Нової пошти. Вони повідомлять нам про проблему і ми зможемо вирішити її та повторно відправити ваше замовлення.</p>
                            
    </div>
</div>
{% endblock %}